# 1. Ігноруємо абсолютно всі файли та папки
*

# 2. Дозволяємо Git заходити в папки
!*/

# 3. Дозволяємо відстежувати кодові файли C++
!*.cpp
!*.hpp
!*.h

# 4. Дозволяємо відстежувати документацію та конфіги
!*.md
!.gitignore